*********************************************************
  {{ ansible_hostname }} — serwer zarzadzany przez Ansible
  System : {{ ansible_distribution }} {{ ansible_distribution_version }}
  IP     : {{ ansible_default_ipv4.address }}
  RAM    : {{ ansible_memtotal_mb }} MB · CPU: {{ ansible_processor_count }}
  Zmiany reczne zostana nadpisane przez playbook!
*********************************************************
